.components-___App__c-nav___1J6Fe {
    position: relative;
    padding: 2em 0
}

.components-___App__c-nav__cfImage___2f6dE {
    display: block;
    width: 2.5em
}

.components-___App__c-nav__logo___3zfgj {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1px
}

.components-___App__c-nav__spinner___3nM9g {
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%)
}

body, html {
    min-height: 100%
}

* {
    box-sizing: border-box;
    border: 0
}

*, body {
    padding: 0;
    margin: 0
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #555;
    background: linear-gradient(180deg, #fafafa, #e8e8e5);
    border: none
}

a {
    color: inherit;
    text-decoration: none
}

img {
    max-width: 100%
}

svg {
    fill: #555
}

.o-btnClose {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2em;
    height: 2em;
    font-size: 1.25em;
    line-height: 1;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 3px solid currentColor;
    border-radius: 50%
}

.o-btnClose > span {
    display: block;
    width: 100%;
    text-align: center
}

.o-btnClose:hover {
    color: #5aaed0
}

.o-btnClose:active, .o-btnClose:focus {
    outline: none;
    color: #de5452
}

.o-btnPrimary {
    display: block;
    padding: .5em;
    border: 2px solid currentColor;
    width: 100%
}

.o-btnPrimary:hover {
    color: #5aaed0
}

.o-btnPrimary:active, .o-btnPrimary:focus {
    outline: none;
    color: #de5452
}

.o-container {
    margin: 0 20%;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.k-rotate {
    -webkit-animation: rotate 1s infinite;
    animation: rotate 1s infinite
}

.o-listReset, .o-listThirds {
    list-style: none;
    margin: 0;
    padding: 0
}

.o-listThirds {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center
}

.o-listThirds > li {
    width: 100%
}

@media (min-width: 45em) {
    .o-listThirds > li {
        width: 50%
    }
}

@media (min-width: 65em) {
    .o-listThirds > li {
        width: 50%
    }
}

.o-listThirdsWithSpace {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center
}

.o-listThirdsWithSpace > li {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 .5em;
    margin-bottom: 1em
}

@media (min-width: 45em) {
    .o-listThirdsWithSpace > li {
        width: 50%
    }
}

@media (min-width: 65em) {
    .o-listThirdsWithSpace > li {
        width: 50%
    }
}

.o-tag {
    display: inline-block;
    padding: .375em;
    margin: .25em;
    font-size: .875em;
    border-radius: .25em;
    background: #eee;
    color: currentColor
}

.o-warning {
    font-size: 2em;
    color: #de5452;
    text-align: center
}

.o-warning__paragraph {
    font-size: .75em
}

.u-paddingDefault {
    padding: 1em
}

.u-paddingHorizDefault {
    padding-left: 1em;
    padding-right: 1em
}

.u-marginTopDefault {
    margin-top: 1em
}

.u-marginTopAuto {
    margin-top: auto
}

.u-marginBottomDefault {
    margin-bottom: 1em
}

.u-marginBottomSmall {
    margin-bottom: .5em
}

.u-flexHorizCenter {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.image-gallery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.image-gallery-content {
    position: relative
}

.image-gallery-content .image-gallery-left-nav, .image-gallery-content .image-gallery-right-nav {
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 6em;
    line-height: 0;
    position: absolute;
    text-shadow: 0 2px 2px #222;
    top: 48%;
    transition: all .2s ease-out;
    z-index: 4
}

@media (max-width: 768px) {
    .image-gallery-content .image-gallery-left-nav, .image-gallery-content .image-gallery-right-nav {
        font-size: 3.4em
    }
}

@media (min-width: 768px) {
    .image-gallery-content .image-gallery-left-nav:hover, .image-gallery-content .image-gallery-right-nav:hover {
        color: #fff
    }
}

.image-gallery-content .image-gallery-left-nav {
    left: 0
}

.image-gallery-content .image-gallery-left-nav:before {
    content: '\2039';
    padding: 50px 15px
}

.image-gallery-content .image-gallery-right-nav {
    right: 0
}

.image-gallery-content .image-gallery-right-nav:before {
    content: '\203A';
    padding: 50px 15px
}

.image-gallery-slides {
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap
}

.image-gallery-slide {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.image-gallery-slide.center {
    position: relative
}

.image-gallery-slide img {
    width: 100%
}

.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, .4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    transition: all .45s ease-out;
    white-space: normal
}

@media (max-width: 768px) {
    .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px
    }
}

.image-gallery-bullets {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4
}

.image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0
}

.image-gallery-bullets .image-gallery-bullet {
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #222;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 5px
}

@media (max-width: 768px) {
    .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px
    }
}

.image-gallery-bullets .image-gallery-bullet.active {
    background: #fff
}

.image-gallery-thumbnails {
    background: #fff;
    overflow: hidden;
    padding-top: 5px
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: all .45s ease-out;
    white-space: nowrap
}

.image-gallery-thumbnail {
    display: inline-block;
    padding-right: 5px
}

.image-gallery-thumbnail img {
    border: 4px solid transparent;
    transition: border .3s ease-out;
    vertical-align: middle;
    width: 100px
}

@media (max-width: 768px) {
    .image-gallery-thumbnail img {
        border: 3px solid transparent;
        width: 75px
    }
}

.image-gallery-thumbnail.active img {
    border: 4px solid #337ab7
}

@media (max-width: 768px) {
    .image-gallery-thumbnail.active img {
        border: 3px solid #337ab7
    }
}

.image-gallery-index {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    color: #fff;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    z-index: 4
}

.ReactModal__Overlay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    background-color: hsla(0, 0%, 100%, .95);
    overflow: auto
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity .15s ease-in-out
}

.ReactModal__Overlay--before-close {
    opacity: 0
}

.ReactModal__Content {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0
}

.ReactModal__Content--after-open {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    transition: -webkit-transform .2s cubic-bezier(.25, .35, .625, 1.5);
    transition: transform .2s cubic-bezier(.25, .35, .625, 1.5);
    transition: transform .2s cubic-bezier(.25, .35, .625, 1.5), -webkit-transform .2s cubic-bezier(.25, .35, .625, 1.5)
}

.ReactModal__Content--before-close {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0
}

.image-gallery-slide .image-gallery-description {
    bottom: 2em
}

.image-gallery {
    width: 100vw
}

@media (min-width: 65em) {
    .image-gallery {
        width: 55vw
    }
}

.image-gallery-title {
    font-size: 1.5em;
    margin-bottom: .25em
}

.image-gallery-thumbnails {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: transparent
}

.components-___Gallery__c-gallery__close___2Fw-n {
    position: absolute;
    right: 1em;
    top: 1.75em
}

.components-___Gallery__c-gallery__header___19BUR {
    position: relative;
    padding: 1em 4em;
    text-align: center
}

.components-___Gallery__c-gallery__headline___14Do8 {
    font-weight: 400;
    text-align: center
}

.components-___Gallery__c-gallery__modalClose___1rqyV {
    position: absolute;
    top: -1.5em;
    right: .5em;
    z-index: 100
}

@media (orientation: landscape) {
    .components-___Gallery__c-gallery__modalClose___1rqyV {
        top: 3em
    }
}

@media (min-width: 45em) {
    .components-___Gallery__c-gallery__modalClose___1rqyV {
        top: 0;
        right: -1em
    }
}

.components-___Gallery__c-gallery__modalOpenTitle___QJIsC {
    font-size: 1.25em;
    position: absolute;
    bottom: 1em;
    left: 0;
    z-index: 0;
    padding: .5em;
    color: #fff;
    background: rgba(0, 0, 0, .5)
}

.components-___Gallery__c-gallery__modalOpenLink___Y7SCe {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%
}

.components-___Gallery__c-gallery__modalOpenLink___Y7SCe a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.components-___Gallery__c-gallery__modalOpenLink___Y7SCe img {
/ /: - 1 px;
    transition: transform .25s ease-in-out
}

.components-___Gallery__c-gallery__modalOpenLink___Y7SCe:hover img {
    transform: scale(1.03125)
}

.components-___ResponsiveImage__responsiveImage___lqY62 {
    display: block;
    width: 100%;
    transition: opacity .25s ease-in
}

.components-___Author__c-author___3JRBk {
    text-align: center;
    padding: .5em 0
}

.components-___Author__c-author___3JRBk:after, .components-___Author__c-author___3JRBk:before {
    content: '\2014';
    display: inline
}

.components-___Author__c-author___3JRBk:before {
    margin-right: 1em
}

.components-___Author__c-author___3JRBk:after {
    margin-left: 1em
}

.components-___Date__c-date___1z63j {
    padding: 1em .5em;
    display: flex;
    justify-content: center;
    align-items: center
}

.components-___Date__c-date___1z63j svg {
    margin-right: .5em
}

.components-___Location__c-location___2hUeN {
    padding: 1em .5em;
    display: flex;
    justify-content: center;
    align-items: center
}

.components-___Location__c-location___2hUeN svg {
    margin-right: .5em
}

.components-___GalleryThumb__c-galleryThumb___Opahe {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 .5em 3em #ddd;
    background: #fff;
    text-align: center
}

.components-___GalleryThumb__c-galleryThumb__caption___RLwWf {
    padding: 1em
}

.components-___GalleryThumb__c-galleryThumb__figure___2jHa9 {
    overflow: hidden
}

.components-___GalleryThumb__c-galleryThumb__figure___2jHa9:hover img {
    transform: scale(1.03125) translate(-50%, -50%)
}

.components-___GalleryThumb__c-galleryThumb__imageContainer___38QqL {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 0 0 65%
}

.components-___GalleryThumb__c-galleryThumb__imageContainer___38QqL img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out
}

.components-___GalleryThumb__c-galleryThumb__title___3ooRn {
    font-size: 1.25em;
    padding: 1em 0 .5em
}